body{
	font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

.center{
	max-width: 960px;
	margin: 0 auto;
}

.header-wrapper{
	position: sticky;
	z-index: 11111;
	top: 0;
	left: 0;
	width: 100%;
	padding: 4px 0;
	background: white;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.header-wrapper-inner {
	display: flex;
  justify-content: space-between;
	align-items: center;
	max-width: 960px;
	margin: 0 auto;
}

.logo{
    width: 250px;
    height: 64px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-wrapper-inner li{
    list-style-type: none;
    transition: ease-in-out .15s;
    border-radius: 20px;
    margin-right: 5px;
}

.hamburger{
	display: none;
}

.header-links{
		font-weight: bold;
		transition: all .2s;
}

.header-links ul{
    display: flex;
    align-items: center;
		position: relative;
		margin: 0;
}

.header-links a{
    color: #000;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    Opacity: 0.8;
}

.active:before{
	visibility: visible !important;
	-webkit-transform: translate3d(0,0,0) scaleX(0) !important;
	transform: translate3d(0,0,0) scaleX(1) !important;
	background-color: rgb(217, 48, 37) !important;
}

.header-links li{
    display: inline;
    position: relative;
    margin: 0px 10px;
}

.header-links li:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 1px;
    left: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scaleX(0);
    transform: translate3d(0,0,0) scaleX(0);
    transition: all .2s ease 0s;
		/*ackground-color: black;*/
		background-image: linear-gradient(to right bottom, #d93025, #c02a20, #a8241b, #911f17, #7a1912);
}

.header-links li:hover{
    cursor: pointer;
}

.header-links li:hover::before{
    visibility: visible;
    -webkit-transform: translate3d(0,0,0) scaleX(1);
    transform: translate3d(0,0,0) scaleX(1);
}

.header-links::before{
    visibility: visible !important;
    -webkit-transform: translate3d(0,0,0) scaleX(1) !important;
    transform: translate3d(0,0,0) scaleX(1) !important;
}

.body-image-wrapper{
    justify-content: center;
}

.body-list-wrapper{
	/*font-family: 'Source Sans Pro', sans-serif;*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
	text-shadow: 1px 1px 1px #242f2f;
	text-align: center;
	background-color: rgba(41, 58, 62, 0.39);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.body-list-wrapper h1{
	font-size: 1.8rem;
	max-width: 960px;
}

.body-list-wrapper-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-list-side{
    background-color: rgba(194, 59, 34,.5);
    width: 100%;
    height: 100%;
}

.body-list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.body-list li:last-child{
    margin-right: 1px;
}

.body-list li{
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(194, 59, 34,.5);
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    transition: ease-in-out .2s;
    width: 220px;
}

.body-list li:hover{
    background-color: rgba(241, 243, 244,.25);
    cursor: pointer;
}

.list-img{
    display: block;
    height: 74px;
    object-fit: contain;
    padding-bottom: 8px;
}

.body-img-text{
    position: absolute;
    top: 58vh;
    left: 0;
    margin-left: 3vw;
    width: 700px;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: 20px;
}

.body-img-left_links{
    margin-top: 0;
    padding-top: 15vh;
    list-style-type: none;
    width: fit-content;
}

.body-img-left_links li{
    padding: 10px;
    color: grey;
    font-size: 1.5em;
    transition: ease-in .06s;
    list-style-type: none;
    border-radius: 15px;
}

.body-header-image-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
}

.body-header-image-wrapper video{
	max-width: 960px;
	z-index: -1;
	overflow: hidden;
}

.body-header-image{
		height: inherit;
    width: 100%;
    object-fit: cover;
}

.body-header-image-wrapper div{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: rgba(41, 58, 62, 0.39);
	width: 100%;
	height: inherit;
}

.body-header-image-wrapper span{
	color: white;
	font-weight: bold;
	font-size: 3rem;
	text-shadow: 1px 1px 1px #242f2f;
}

.body-wrapper{
	max-width: 960px;
	margin: 0 auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Kontakt Page */

.kontakt-wrapper{
		display: flex;
		flex-wrap: wrap;
    justify-content: space-around;
}

.kontakt-wrapper div{
		padding: 10px;
		width: 400px;
}

.kontakt-wrapper h3{
	margin-bottom: 0;
}

.kontakt-wrapper ul{
	margin-top: 0;
}

.kontakt-main_ul ul li{
    padding: 5px;
}

.kontakt-main_ul a{
    text-decoration: underline;
    color: rgb(217, 48, 37);
    Opacity: .8;
}

.kontakt-main_li{
    padding: 10px;
    font-weight: bold;
    Opacity: .8;
}

/* O Nas Page */

.onas-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.onas-wrapper li{
    padding: 5px;
}


/* Language Menu */

.lang-li:hover{
    background-color: white !important;
}

.menu-wrapper{
    display: flex;
}

.menu-active-link{
    border-radius: 20px;
}

.menu-active{
    position: relative;
}

.menu-active a{
    /*border-radius: 20px;*/
    transition: ease-in-out .15s;
}

.menu-active img{
    height: 12px;
    width: 20px;
    margin-right: 4px;
}

.menu-active a:hover{
    cursor: pointer;
}

.menu{
    border-radius: 4px;
		position: absolute;
		z-index: 11111;
    background-color: white;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    padding: 5px 0;
}

.menu img {
    height: 12px;
    width: 20px;
    margin-right: 4px;
}

.menu a:hover{
    background-color: rgba(32, 33, 36,.08);
}

.menu a {
    display: flex;
    align-items: center;
}

.menu a:first-child{
    margin-bottom: 5px;
}

.section-wrapper{
	display: flex;
	flex-direction: column;
	max-width: 960px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 12px;
	background: white;
}

.padding20{
	padding-left: 20px;
	padding-right: 20px;
}

.section-title{
	/*font-family: 'Source Sans Pro', sans-serif;*/
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.12);
	position: relative;
	width: fit-content;
	align-self: center;
	margin-bottom: 30px;
}

.section-title:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -3px;
	left: 0;
	visibility: visible;
	-webkit-transform: translate3d(0,0,0) scaleX(0);
	transform: translate3d(0,0,0) scaleX(1);
	transition: all .2s ease 0s;
	background-image: linear-gradient(to right bottom, #d93025, #c02a20, #a8241b, #911f17, #7a1912);
}

.ponudba-list{
	list-style-type: none;
	padding-left: 0;
	align-self: center;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ponudba-list a{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	text-shadow: 1px 1px 1px rgba(0,0,0,.12);
}

.ponudba-list li{
	font-size: 1.25rem;
	float: left;
	text-align: center;
	padding: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 215px;
	height: 215px;
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all .2s;
}

.ponudba-list li:hover{
	transform: scale(1.05);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.ponudba-list img{
	width: 128px;
	margin-bottom: 15px;
}

.podrocje img{
	height: 500px;
	object-fit: fill;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.scaleOnHover{
	transition: all .2s;
}

.scaleOnHover:hover{
	transform: scale(1.015);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.podrocje p{
	font-size: 1.15rem;
}

.homezakaj-inner-wrapper{
	display: flex;
}

.homezakaj-inner-wrapper h1{
	margin-right: 20px;
}

.homezakaj-inner-wrapper ul{
	margin: 0 auto;
	font-size: 1.1rem;
	list-style-type: circle;
}

.homezakaj-inner-wrapper li{
	padding: 8px;
}

.homezakaj-inner-wrapper img{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.homestik-list{
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	padding-right: 20px;
	padding-left: 20px;
}

.homestik-list a{
	display: flex;
	align-items: center;
	color: rgb(217, 48, 37);
}

.homestik-list a:hover{
	text-decoration: underline;
}

.homestik-list img{
	height: 48px;
	margin-right: 8px;
}

.izredni{
	padding-bottom: 20px;
}

.izredni span{
	padding-bottom: 20px;
}











/* FOOTER */
.footer-section-wrapper{
	background-color: #332e2e;
	color: white;
}

.footer-section-wrapper h3{
	font-weight: normal;
	margin-bottom: 0px;
	color: rgb(217, 48, 37);
}

.footer-big-section ul{
	margin-top: 6px;
	list-style-type: none;
	padding-left: 6px;
}

.footer-big-section li{
	padding-top: 8px;
	padding-bottom: 8px;
}

.footer-section-wrapper a{
	color: white;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .15s;
}

.footer-section-wrapper a:hover{
	color: rgb(217, 48, 37);
}

.footer-big-wrapper{
	display: flex;
	max-width: 960px;
	margin: 0 auto;
}

.footer-big-img-wrapper{
	display: flex;
}

.footer-big-wrapper img{
	align-self: center;
}

.footer-big-section{
	padding-left: 40px;
}

.footer-big-phone{
	color: rgb(217, 48, 37) !important;
}

.footer-big-list{
	list-style-type: none;
	padding-left: 15px;
}

.footer-copyright-wrapper{
	max-width: 960px;
	margin: 0 auto;
	padding: 8px;
  border-top: 1px solid #544e4e;
}

.footer-copyright-wrapper a{
	color: rgb(217, 48, 37);
}


@media only screen and (max-width: 700px) {
	.hamburger{
		display: inline-block;
	}

	.closed{
		max-height: 0px;
	}

	.open{
		max-height: 160px;
	}

	.header-wrapper-inner{
		flex-wrap: wrap;
	}

	.header-links ul{
		flex-direction: column;
	}

	.header-links{
		width: 100%;
		overflow: hidden;
	}
	
	.homezakaj-inner-wrapper{
		flex-direction: column;
	}

	.homezakaj-inner-wrapper img{
		border-radius: 0;
		margin-top: 10px;
	}

	.homestik-list{
		flex-direction: column;
	}

	#zakaj{
		padding-left: 0 !important;
	}

	.footer-big-wrapper{
		flex-direction: column;
	}

	.footer-big-img-wrapper{
		padding-left: 40px;
	}
}

@media only screen and (max-width: 450px) {

	.podrocje img{
		height: 200px;
	}

	.homezakaj-inner-wrapper img{
		height: 200px !important;
	}

	.homestik-list{
		font-size: 1.5rem;
	}

	.homestik-list img{
		height: 38px;
	}

	.footer-big-wrapper{
		flex-direction: column;
	}

	.footer-big-img-wrapper{
		padding-left: 40px;
	}
}